body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #50B498;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

.pokemon-details {
    margin: 0;
    border: 2px solid balck;
}

button,
input {
    background-color: #9CDBA6;
    border: 2px solid black;
    margin: 5px;
}

.display-region {
    display: inline-block;
}

.result-card {
    display: flex;
    flex-direction: column;
    align-items: center;


    text-transform: capitalize;
    margin-top: 20px;
    padding: 5px;

    border: 2px solid black;
    border-radius: 5%;
    width: 400px;

    background-color: #9CDBA6;

}

.types {
    display: inline-flex;
    margin-right: 20px;
    margin-top: 0;
    border: 0.5px solid black;
    border-radius: 12.5%;
    padding: 3px;
}


#abilities {
    display: inline-flex;
    margin-right: 20px;
    margin-top: 0;

    padding: 3px;
}