.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    width: 200px;
    border-radius: 5%;
    box-shadow: 0 0 5px;
    margin: 10px
}

img,
h1,
p {
    margin: 0;
}